<div class="vip-container">
    <h3>Usuarios VIP</h3>
    <table class="vip-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Username</th> 
                <th>Eliminado</th> 
                <th>Rol</th>            
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vip of vips">
                <td>{{ vip.name }}</td>
                <td>{{ vip.surname }}</td>
                <td>{{ vip.username }}</td>
                <td>{{ vip.deleted | booleanToSiNo }}</td>             
                <td>{{ vip.role }}</td> 
            </tr>
        </tbody>
    </table>
    
    <button [routerLink]="['/admin']" routerLinkActive="router-link-active"  value="Log In"
    class="button-login btn btn-back">Volver</button>

</div>
    
