<div id="div-bg" class=" container ">
        <div class=" ">
                <div class="">
                    <h3>Bienvenido</h3>
                    <p class="">¡Hola de nuevo! Inicia sesión para ingresar.</p>
                </div>
                <div class="">
                    <div class="form-group ">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" required [(ngModel)]="username">
                    </div>
                    <div *ngIf="!username" class="text-danger">
                        <small>Username es requerido.</small>
                    </div>
                </div>
                <div class="">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" required [(ngModel)]="password"
                            (keyup.enter)="onLogin()">
                    </div>
                    <div *ngIf="!password" >
                        <small class="text-danger">Password es requerido.</small>
                    </div>
                </div>

                <button (click)="onLogin()" value="Log In"
                    class="button-login btn text-center text-white">Ingresar</button>
        </div>
</div>