<div class="cart-container">
    <h3>Carrito #{{ cart.id }}</h3>
    <p>Total productos: {{ cart.totalProducts }}</p>
    <p>Total: ${{ cart.total }}</p>
    <p>Eliminado: {{ cart.deleted | booleanToSiNo}}</p>
    <p>Confirmado: {{ cart.confirmed | booleanToSiNo }}</p>
</div>

<div class="cart-container">
    <h4>Detalle carrito </h4>

    <table class="car-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio Unit</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.itemsDTO">
                <td>{{ item.productId }}</td>
                <td>{{ item.productName }}</td>
                <td>{{ item.amount }}</td>
                <td>${{ item.unitPrice | currency }}</td>
                <td>
                    <button class="btn btn-sm " id="add-button{{ item.productId }}"
                        routerLink="/cart/{{cartId}}/item/{{item.id}}" data-toggle="tooltip" data-placement="top"
                        title="Modificar contidad"><i class="fa-solid fa-pencil"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="cart-container">
    <h4>Agregue productos al carrito</h4>
    <table class="car-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products" id="product-table-container">

                <td> {{product.id}}</td>
                <td> {{product.name}}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price | currency: '$'}}</td>
                <td>
                    <button class="col-auto btn text-white btn-sm button-circle-add" id="add-button{{ product.id }}"
                        routerLink="/cart/{{cartId}}/products/{{product.id}}/add" data-toggle="tooltip"
                        data-placement="top" title="Agregar"><i class=" fas fa-plus"></i></button>
            </tr>
        </tbody>
    </table>
</div>

<div class="cart-btns">
    <button (click)="confirmarCompra()" value="Log In" class="btn-back confirm-cart-btn">Confirmar
        compra</button>
    <button (click)="eliminarCarrito()" value="Log In" class="btn-back delete-cart-btn">Eliminar
        Carrito</button>
</div>
